aside {
    width: 15%;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
    height: 100vh;
}

footer {
    position: absolute;
    font-size: 20pt;
    bottom: 0;
    right: 0
}

* {
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 40pt;
}
