aside {
    width: 30%;
    padding-left: 50px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
    height: 100vh;
}
* {
    font-family: Comic Sans MS;
    font-size: 2vw;
}
